<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Days since</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form>
        <div class="container">
            <div class="center">
                <button formaction="{{ url_for('since') }}" class="btn">Since</button>
                <button formaction="{{ url_for('left') }}" class="btn">Left</button>
                <button formaction="{{ url_for('diy') }}" class="btn">Days in year</button>
            </div>
        </div>
    </form>

    <p class="border-gradient border-gradient-purple">
            {{ main_text}}
    </p>
</body>
</html>